* {
    font-family: "Noto Sans", "Lato", 'Times New Roman', Times, serif;
}

.custom_node {
    border: solid 0.15em black;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
}

.custom_node_header {
    display: grid;
    text-align: center;
    border: solid 0.15em;
    padding: 0.5em 1em;
    border-radius: 2%;
}

.custom_node_title {
    font-weight: bold;
}

.custom_node_text {
    text-align: center;
    padding: 0.5em 0em;
    border-radius: 2%;
}

.custom_node_primaryKey {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom_node_primaryKey .react-flow__handle {
    position: absolute;
}

#primaryKey-target {
    left: -10px
}

#primaryKey-source {
    right: -10px;
}

.primaryKey_name {
    display: flex;
    align-items: center;
    margin: 0.5em;
    font-weight: bold;
}

.primaryKey_type {
    margin: 0.5em;
    color: grey;
}

.key {
    display: flex;
    justify-content: space-between;
}

.key > .key_name {
    margin: 0.5em;
    font-weight: bold;
}

.key > .key_type {
    margin: 0.5em;
    color: grey
}